<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles.css" />

  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="user-goal">
      <h2>Events in Action</h2>
      <button v-on:click="increment">Add</button> <!-- @click or v-on:click are the same -->
      <button v-on:click.left="decrement">Reduce</button> 
      <p>Result: {{ counter }}</p>
      <input type="text" v-model="name" v-on:keyup.enter="confirmName">
      <input type="text" v-model="lastName">
      
      <p>Your Name: {{ fullName }}</p>
      <p>Confirmed First Name: {{ confirmedName }} <small>(Press enter to confirm)</small></p>
    </section>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
